<table class="customTable" style="border-bottom: none;">
	<tbody>
		<tr>
			<td width="200px" style="font-size: 14px;font-weight: 700;">预警分级</td>
			<td>
				<nz-select style="width:100%;" nzPlaceHolder="请选择">
					<nz-option [nzValue]="1" nzLabel="111"></nz-option>
				</nz-select>
			</td>
			<td></td>
			<td width="17px"></td>
		</tr>
	</tbody>
</table>
<table class="customTable">
	<thead>
		<tr>
			<th width="200px">预警级别</th>
			<th>防线预防措施内容</th>
			<th width="80px">操作</th>
			<th width="17px"></th>
		</tr>
	</thead>
</table>
<div class="scrollHeight">
	<table class="customTable">
		<colgroup>
	  		<col width="200px"/>
	  		<col/>
	  		<col width="80px"/>
	  	</colgroup>
	    <tbody>
				
		</tbody>
	</table>
</div>
<div class="nextStep">
	<button nz-button nzType="primary">保存</button>
	<button nz-button>下一步</button>
</div>