<table class="customTable">
	<thead>
		<tr>
			<th width="80px" rowspan="2">序号</th>
			<th rowspan="2">名称</th>
			<th rowspan="2">有/无</th>
			<th rowspan="2">位置</th>
			<th rowspan="2">占地面积(㎡)</th>
			<th rowspan="2">容量或能力</th>
			<th colspan="2">负责人</th>
			<th rowspan="2">备注</th>
		</tr>
		<tr>
			<th>姓名</th>
			<th>联系电话</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of tableData;index as i">
			<td>{{i+1}}</td>
			<td>{{item.name}}</td>
			<td>
				<nz-select [(ngModel)]="item.have"  style="width:100%;" nzPlaceHolder="请选择">
					<nz-option nzValue="1" nzLabel="有"></nz-option>
					<nz-option nzValue="0" nzLabel="无"></nz-option>
				</nz-select>
			</td>
			<td>
				<input nz-input [(ngModel)]="item.location" placeholder="请输入位置">
			</td>
			<td>
				<input nz-input [(ngModel)]="item.areaCovered" placeholder="请输入占地面积">
			</td>
			<td>
				<textarea nz-input rows="5" [(ngModel)]="item.capacity" placeholder="请输入容量或能力"></textarea>
			</td>
			<td>
				<!--<input nz-input [(ngModel)]="item.contactName" placeholder="请输入负责人">-->
        <input
          placeholder="请输入负责人"
          nz-input
          [(ngModel)]="item.contactName"
          (input)="onContactNameInput($event.target?.value)"
          [nzAutocomplete]="auto"
        />
        <nz-autocomplete nzBackfill #auto>
          <nz-auto-option *ngFor="let person of personList1" (selectionChange)="onContactNameChange(item,person)" [nzValue]="person.personName">
            {{ person.personName }}
          </nz-auto-option>
        </nz-autocomplete>
			</td>
			<td>
				<input nz-input [(ngModel)]="item.phoneNumber" placeholder="请输入联系电话">
			</td>
			<td>
				<textarea nz-input rows="5" [(ngModel)]="item.remark" placeholder="请输入备注"></textarea>
			</td>
		</tr>
	</tbody>
</table>
<div class="nextStep">
	<button nz-button nzType="primary" (click)="save()">保存</button>
	<button nz-button (click)="next">下一步</button>
</div>
