<table class="customTable">
	<thead>
		<tr>
			<th>序号</th>
			<th>事件分级</th>
			<th>事件情形</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td></td>
			<td>
				<textarea nz-input rows="5" placeholder=""></textarea>
			</td>
		</tr>
		<tr>
			<td>2</td>
			<td></td>
			<td>
				<textarea nz-input rows="5" placeholder=""></textarea>
			</td>
		</tr>
		<tr>
			<td>3</td>
			<td></td>
			<td>
				<textarea nz-input rows="5" placeholder=""></textarea>
			</td>
		</tr>
		<tr>
			<td>4</td>
			<td></td>
			<td>
				<textarea nz-input rows="5" placeholder=""></textarea>
			</td>
		</tr>
	</tbody>
</table>