<table class="customTable">
	<thead>
		<tr>
			<th>类别</th>
			<th colspan="2">环境风险受体情况</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td rowspan="3">类型1（E1）</td>
			<td>①企业周边5公里范围内居住区、医疗卫生机构、文化教育机构、科研单位、行政机关、企事业单位、商场、公园等人口总数5万人以上，或</td>
			<td>
				<label nz-checkbox></label>
			</td>
		</tr>
		<tr>
			<td>②企业周边500米范围内人口总数1000人以上，或</td>
			<td>
				<label nz-checkbox></label>
			</td>
		</tr>
		<tr>
			<td>③企业周边5公里涉及军事禁区、军事管理区、国家相关保密区域</td>
			<td>
				<label nz-checkbox></label>
			</td>
		</tr>
		<tr>
			<td rowspan="2">类型2（E2）</td>
			<td>①企业周边5公里范围内居住区、医疗卫生机构、文化教育机构、科研单位、行政机关、企事业单位、商场、公园等人口总数1万人以上、5万人以下，或</td>
			<td>
				<label nz-checkbox></label>
			</td>
		</tr>
		<tr>
			<td>②企业周边500米范围内人口总数500人以上、1000人以下</td>
			<td>
				<label nz-checkbox></label>
			</td>
		</tr>
		<tr>
			<td>类型3（E3）</td>
			<td>①企业周边5公里范围内居住区、医疗卫生机构、文化教育机构、科研单位、行政机关、企事业单位、商场、公园等人口总数1万人以下，且企业周边500米范围内人口总数500人以下。</td>
			<td><label nz-checkbox></label></td>
		</tr>
		<tr>
			<td colspan="2">
				大气环境风险受体敏感程度类型
			</td>
		</tr>
	</tbody>
</table>
<div class="nextStep">
	<button nz-button nzType="primary">保存</button>
	<button nz-button>下一步</button>
</div>
