<table class="customTable">
	<colgroup>
		<col />
		<col />
		<col width="25"/>
		<col width="25"/>
		<col />
		<col width="25"/>
		<col width="25"/>
		<col />
		<col width="25"/>
		<col width="25"/>
		<col />
		<col width="25"/>
		<col width="25"/>
		<col />
		<col width="25"/>
		<col width="25"/>
	</colgroup>
	<thead>
		<tr>
			<th>类别</th>
			<th colspan="15">环境风险受体情况</th>
		</tr>
	</thead>
	<tr>
		<td rowspan="7">
			<div>
				类型1
			</div>
			<div>
				（E1）
			</div>
		</td>
		<td colspan="15">
			<div style="text-align: left;">
				（1）企业雨水排口、清净废水排口、污水排口下游10公里流经范围内有如下一类或多类环境风险受体：
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="13" style="text-align: left;">
			①集中式地表水
		</td>
		<td>
			<label nz-checkbox></label>
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td colspan="11" rowspan="3" style="text-align: left;">
			②地下水饮用水水源保护区
		</td>
		<td colspan="2">
			一级保护区
		</td>
		<td>
			<label nz-checkbox></label>
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			二级保护区
		</td>
		<td>
			<label nz-checkbox></label>
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			准保护区
		</td>
		<td>
			<label nz-checkbox></label>
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td colspan="13" style="text-align: left;">
			③农村及分散式饮用水水源保护区
		</td>
		<td>
			<label nz-checkbox></label>
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td colspan="13" style="text-align: left;">
			（2）废水排入受纳水体后 24 小时流经范围（按受纳河流最大日均流速计算）内涉及跨国界的
		</td>
		<td>
			<label nz-checkbox></label>
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td rowspan="9">
			类型2（E2）
		</td>
		<td colspan="15" style="text-align: left;">
			（1） 企业雨水排口、清净废水排口、污水排口下游10公里流经范围内有生态保护红线划定的或具有水生态服务功能的其他水生态环境敏感区和脆弱区，如下所示：
		</td>
	</tr>
	<tr>
		<td>
			国家公园
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
		<td>
			国家级水产种质资源保护区
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
		<td>
			省级水产种质资源保护区
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
		<td>
			水产养殖区
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
		<td>
			天然渔场
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
	</tr>
	<tr>
		<td>
			海水浴场
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
		<td>
			盐场保护区
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
		<td>
			国家重要湿地
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
		<td>
			国家级海洋特别保护区
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
		<td>
			地方级海洋特别保护区
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
	</tr>
	<tr>
		<td>
			国家级海洋自然保护区
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
		<td>
			地方级海洋自然保护区
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
		<td>
			生物多样性保护优先区域
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
		<td>
			国家级自然保护区
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
		<td>
			地方级自然保护区
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
	</tr>
	<tr>
		<td>
			国家级风景名胜区
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
		<td>
			省级风景名胜区
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
		<td>
			世界文化和自然遗产地
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
		<td>
			国家级森林公园
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
		<td>
			省级森林公园
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
	</tr>
	<tr>
		<td>
			世界地质公园
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
		<td>
			国家级地质公园
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
		<td>
			省级地质公园
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
		<td>
			基本农田保护区
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
		<td>
			基本草原
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
	</tr>
	<tr>
		<td colspan="15" style="text-align: left;">
			（2） 企业雨水排口、清净废水排口、污水排口下游10公里流经范围内涉及跨省的；
		</td>
	</tr>
	<tr>
		<td colspan="15" style="text-align: left;">
			（3）企业位于溶岩地貌/泄洪区/泥石流多发等地区
		</td>
	</tr>
	<tr>
		<td colspan="3">
			溶岩地貌
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
		<td colspan="3">
			泄洪区
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
		<td colspan="3">
			泥石流
		</td>
		<td colspan="2">
			<label nz-checkbox></label>
		</td>
	</tr>
	<tr>
		<td>
			类型3（E3）
		</td>
		<td colspan="14">
			不涉及类型1和类型2情况的。
		</td>
		<td>
			<label nz-checkbox></label>
		</td>
	</tr>
	<tr>
		<td colspan="7">
			水环境风险受体类型
		</td>
		<td colspan="9">
		</td>
	</tr>

	</tbody>
</table>
<div class="nextStep">
	<button nz-button nzType="primary">保存</button>
	<button nz-button>下一步</button>
</div>
