<table class="customTable">
	<thead>
		<tr>
			<th>项</th>
			<th>大气</th>
			<th>水</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>风险物质数量与临界量比值(Q)</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>生产工艺过程与环境风险控制水平(M)</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>环境风险受体敏感程度(E)</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>突发大气/水环境事件风险等级</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>突发环境事件风险等级</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<div class="nextStep">
	<button nz-button nzType="primary">保存</button>
	<button nz-button>提交</button>
</div>