<table class="customTable">
	<thead>
		<tr>
			<th>评估指南</th>
			<th>评估依据</th>
			<th>参考分值</th>
			<th>是/否</th>
			<th>实际分值</th>
			<th width="17px"></th>
		</tr>
	</thead>
</table>
<div class="scrollHeight">
	<table class="customTable">
		<colgroup>
	  		<col/>
	  		<col/>
				<col/>
				<col/>
				<col/>
	  	</colgroup>
	    <tbody>
				<tr>
					<td rowspan="3">毒性气体泄漏监控预警措施</td>
					<td>
						（1）不涉及《企业突发环境事件风险分级方法》附录A1中有毒有害气体的；或
					</td>
					<td rowspan="2"></td>
					<td></td>
					<td rowspan="3"></td>
				</tr>
				<tr>
					<td>（2）根据实际情况，具备有毒有害气体（如硫化氢、氰化氢、氯化氢、光气、氯气、氨气、苯等）厂界泄漏监控预警系统的</td>
					<td></td>
				</tr>
				<tr>
					<td>不具备厂界有毒有害气体泄漏监控预警系统的</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td rowspan="2">符合防护距离情况</td>
					<td>符合环评及批复文件防护距离要求的</td>
					<td></td>
					<td></td>
					<td rowspan="2"></td>
				</tr>
				<tr>
					<td>不符合环评及批复文件防护距离要求的</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td rowspan="4">近3年内突发大气环境事件发生情况</td>
					<td>发生过特别重大或重大等级突发大气环境事件的</td>
					<td></td>
					<td></td>
					<td rowspan="4"></td>
				</tr>
				<tr>
					<td>发生过较大等级突发大气环境事件的</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>发生过一般等级突发大气环境事件的</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>未发生突发大气环境事件的</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="4">小计得分</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td colspan="4">生产工艺过程与环境风险控制水平值(M)</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td colspan="4">
						生产工艺过程与环境风险控制水平类型
						<button nz-button nzType="primary">计算</button>
					</td>
					<td colspan="2"></td>
				</tr>
		</tbody>
	</table>
</div>
<div class="nextStep">
	<button nz-button nzType="primary">保存</button>
	<button nz-button>下一步</button>
</div>