<table class="customTable">
	<thead>
		<tr>
			<th>评估指南</th>
			<th>评估依据</th>
			<th>参考分值</th>
			<th>是/否</th>
			<th>实际分值</th>
			<th width="17px"></th>
		</tr>
	</thead>
</table>
<div class="scrollHeight">
	<table class="customTable">
		<colgroup>
	  		<col/>
	  		<col/>
				<col/>
				<col/>
				<col/>
	  	</colgroup>
	    <tbody>
			<ng-container *ngFor="let item of tableData.evaluateDetails;index as i">
				<tr *ngFor="let cItem of item.basisList;index as j">
					<td *ngIf="j==0" [attr.rowspan]="item.basisList.length">
						{{item.evaluateIndex}}
					</td>
					<td>
						<ng-container *ngIf="cItem.isDisplayNumber==1">({{cItem.basisNumber}})</ng-container>
						<ng-container *ngIf="cItem.isDisplayNumber==0">&nbsp;&nbsp;&nbsp;</ng-container>
						{{cItem.basisContent}}
					</td>
					<td *ngIf="cItem.isMergeScore==0" [attr.rowspan]="cItem.mergeNumber">
						{{cItem.score}}
					</td>
					<td>
						<nz-radio-group [(ngModel)]="cItem.evaluateResult" (ngModelChange)="onEvaluateResultChange(cItem,i,j,$event)">
						  <label nz-radio nzValue="1">是</label>
						  <label nz-radio nzValue="0">否</label>
						</nz-radio-group>
					</td>
					<td *ngIf="cItem.isMergeActual==1||i==2" [attr.rowspan]="cItem.isMergeActual=='1'&&i!=2?item.basisList.length:1">
							{{cItem.actualScore}}
					</td>
				</tr>
			</ng-container>
			<tr>
				<td colspan="3">
						小计得分
				</td>
				<td>
					<button nz-button nzType="primary" (click)="totalScoreSalculate()">计算</button>
				</td>
				<td >
					{{tableData.totalScore}}
				</td>
			</tr>
			<tr>
				<td colspan="3">
						生产工艺过程与环境风险控制水平值（M）
				</td>
				<td>
					<button nz-button nzType="primary" (click)="levelValueCalculate()">计算</button>
				</td>
				<td >
					{{tableData.levelValue}}
				</td>
			</tr>
			<tr>
				<td colspan="4">
					生产工艺过程与环境风险控制水平类型
				</td>
				<td>
					{{tableData.levelType}}
				</td>
			</tr>
			<!-- <tr>
				<td>
						生产工艺过程与环境风险控制水平值（ M）
				</td>
				<td>
					<button nz-button nzType="primary" (click)="levelValueCalculate()">计算</button>
				</td>
				<td >
					{{tableData.levelValue}}
				</td>
				<td>
						生产工艺过程与环境风险控制水平类型
				</td>
				<td>
					{{tableData.levelType}}
				</td>
			</tr> -->
		</tbody>
	</table>
</div>
<div class="nextStep">
	<button nz-button nzType="primary" (click)="save()">保存</button>
	<button nz-button (click)="next()">下一步</button>
</div>