<table class="customTable">
	<thead>
		<tr>
			<th rowspan="2">项目名称</th>
			<th rowspan="2">具体内容</th>
			<th rowspan="2">目前存在的问题</th>
			<th rowspan="2">涉及环境风险单元</th>
			<th rowspan="2">涉及环境风险物质</th>
			<th rowspan="2">可能影响的环境风险受体</th>
			<th rowspan="2">整改措施</th>
			<th colspan="2">负责人</th>
			<th colspan="2">整改期限</th>
			<th rowspan="2" width="17px"></th>
		</tr>
		<tr>
			<th>姓名</th>
			<th>电话</th>
			<th>完成日期</th>
			<th>短期/中期/长期</th>
		</tr>
	</thead>
</table>
<div class="scrollHeight">
	<table class="customTable">
		<colgroup>
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
		</colgroup>
		<tbody>
			<ng-container *ngFor="let item of tableData;index as i">
				<tr *ngFor="let cItem of item.childList;index as j">
					<td *ngIf="j==0" [attr.rowspan]="item.childList.length">
						{{item.projectName}}
					</td>
					<td>
						<ng-container *ngIf="cItem.needFix=='1'">
							{{cItem.itemContent}}
						</ng-container>
						<ng-container *ngIf="cItem.needFix!='1'">
							/
						</ng-container>
					</td>
					<td>
						<ng-container *ngIf="cItem.needFix=='1'">
							{{cItem.problem}}
						</ng-container>
						<ng-container *ngIf="cItem.needFix!='1'">
							/
						</ng-container>
					</td>
					<td>
						<nz-select nzMode="multiple" [(ngModel)]="cItem.environmentalRiskUnitArray" *ngIf="cItem.needFix=='1'" style="width:100%;" nzPlaceHolder="请选择">
							<nz-option [nzValue]="environmentalRiskUnit.riskUnitName" [nzLabel]="environmentalRiskUnit.riskUnitName" *ngFor="let environmentalRiskUnit of environmentalRiskUnitList"></nz-option>
						</nz-select>
						<ng-container *ngIf="cItem.needFix!='1'">
							/
						</ng-container>
					</td>
					<td>
						<nz-select nzMode="multiple" [(ngModel)]="cItem.riskSubstancesArray" *ngIf="cItem.needFix=='1'" style="width:100%;" nzPlaceHolder="请选择">
							<nz-option [nzValue]="riskSubstances.mainIngredient" [nzLabel]="riskSubstances.mainIngredient" *ngFor="let riskSubstances of riskSubstancesList"></nz-option>
						</nz-select>
						<ng-container *ngIf="cItem.needFix!='1'">
							/
						</ng-container>
					</td>
					<td>
						<nz-select nzMode="multiple" [(ngModel)]="cItem.riskReceptorArray" *ngIf="cItem.needFix=='1'" style="width:100%;" nzPlaceHolder="请选择">
							<nz-option [nzValue]="riskReceptor.pointName" [nzLabel]="riskReceptor.pointName" *ngFor="let riskReceptor of riskReceptorList"></nz-option>
						</nz-select>
						<ng-container *ngIf="cItem.needFix!='1'">
							/
						</ng-container>
					</td>
					<td>
						<textarea nz-input rows="5" [(ngModel)]="cItem.rectificationMeasures" *ngIf="cItem.needFix=='1'" placeholder="具体情况说明"></textarea>
						<ng-container *ngIf="cItem.needFix!='1'">
							/
						</ng-container>
					</td>
					<td>
						<ng-container *ngIf="cItem.needFix=='1'">
							<input
								placeholder="请输入负责人"
								nz-input
								[(ngModel)]="cItem.name"
								(input)="onNameInput($event.target?.value)"
								[nzAutocomplete]="auto"
							/>
							<nz-autocomplete nzBackfill #auto>
								<nz-auto-option *ngFor="let person of personList1" (selectionChange)="onNameChange(cItem,person)" [nzValue]="person.personName">
								  {{ person.personName }}
								</nz-auto-option>
							</nz-autocomplete>
						</ng-container>
						<ng-container *ngIf="cItem.needFix!='1'">
							/
						</ng-container>
					</td>
					<td>
						<input nz-input [(ngModel)]="cItem.telephone" *ngIf="cItem.needFix=='1'" placeholder="">
						<ng-container *ngIf="cItem.needFix!='1'">
							/
						</ng-container>
					</td>
					<td>
						<ng-container *ngIf="cItem.needFix=='1'">
							{{cItem.governDate}}
						</ng-container>
						<ng-container *ngIf="cItem.needFix!='1'">
							/
						</ng-container>
					</td>
					<td>
						<ng-container *ngIf="cItem.needFix=='1'">
							{{cItem.governPeriod}}
						</ng-container>
						<ng-container *ngIf="cItem.needFix!='1'">
							/
						</ng-container>
					</td>
				</tr>
			</ng-container>
		</tbody>
	</table>
</div>
<div class="nextStep">
	<button nz-button nzType="primary" (click)="save()">保存</button>
	<button nz-button (click)="next()">下一步</button>
</div>
