<table class="customTable">
	<thead>
		<tr>
			<th rowspan="2" width="150px">项目名称</th>
			<th rowspan="2" width="200px">具体分析内容</th>
			<th rowspan="2">是/否(人)</th>
			<th rowspan="2">目前存在的问题</th>
			<th rowspan="2">是否需要整改</th>
			<th colspan="2">整改期限</th>
			<th rowspan="2">其他说明</th>
			<th rowspan="2" width="80px">操作</th>
			<th rowspan="2" width="17px"></th>
		</tr>
		<tr>
			<th>完成日期</th>
			<th>短期/中期/长期</th>
		</tr>
	</thead>
</table>
<div class="scrollHeight">
	<table class="customTable">
		<colgroup>
	  		<col width="150px"/>
	  		<col width="200px"/>
				<col/>
				<col/>
				<col/>
				<col/>
	  		<col/>
				<col/>
				<col width="80px"/>
	  	</colgroup>
	    <tbody>
			<ng-container *ngFor="let item of tableData;index as i">
				<tr *ngFor="let cItem of item.childList;index as j">
					<td *ngIf="j==0" [attr.rowspan]="item.childList.length">
						{{item.projectName}}
					</td>
					<td>
						<textarea nz-input [(ngModel)]="cItem.itemContent" *ngIf="cItem.projectId!='0'" rows="5" placeholder="具体分析内容"></textarea>
						<ng-container  *ngIf="cItem.projectId=='0'">
							{{cItem.itemContent}}
						</ng-container>
					</td>
					<td>
						<nz-select [(ngModel)]="cItem.have" style="width: 100%;" nzPlaceHolder="请选择">
							<nz-option nzValue="1" nzLabel="是"></nz-option>
							<nz-option nzValue="0" nzLabel="否"></nz-option>
						</nz-select>
					</td>
					<td>
						<textarea nz-input [(ngModel)]="cItem.problem" rows="5" placeholder="具体情况说明"></textarea>
					</td>
					<td>
						<nz-select [(ngModel)]="cItem.needFix" (ngModelChange)="onNeedFixChange(cItem,$event)" style="width: 100%;" nzPlaceHolder="请选择">
							<nz-option nzValue="1" nzLabel="是"></nz-option>
							<nz-option nzValue="0" nzLabel="否"></nz-option>
						</nz-select>
					</td>
					<td>
						<nz-date-picker [(ngModel)]="cItem.governDate" *ngIf="cItem.needFix!='0'" placeholder="请选择时间" style="width:100%;"></nz-date-picker>
						<ng-container  *ngIf="cItem.needFix=='0'">
							/
						</ng-container>
					</td>
					<td>
						<nz-select [(ngModel)]="cItem.governPeriod" *ngIf="cItem.needFix!='0'" style="width: 100%;" nzPlaceHolder="请选择">
							<nz-option nzValue="短期" nzLabel="短期"></nz-option>
							<nz-option nzValue="中期" nzLabel="中期"></nz-option>
							<nz-option nzValue="长期" nzLabel="长期"></nz-option>
						</nz-select>
						<ng-container  *ngIf="cItem.needFix=='0'">
							{{cItem.governPeriod}}
						</ng-container>
					</td>
					<td>
						<textarea nz-input [(ngModel)]="cItem.checkResultDesc" rows="5" placeholder="具体情况说明"></textarea>
					</td>
					<td>
						<img src="/assets/img/add.png" class="operImg" *ngIf="j==item.childList.length-1" (click)="addChildren(i)"/>
						<img src="/assets/img/addn.png" class="operImg" *ngIf="j<item.childList.length-1"/>
						<img src="/assets/img/del.png" class="operImg" *ngIf="cItem.projectId!='0'" (click)="delChildren(i,j)"/>
						<img src="/assets/img/deln.png" class="operImg" *ngIf="cItem.projectId=='0'"/>
					</td>
				</tr>
			</ng-container>
		</tbody>
	</table>
</div>
<div class="nextStep">
	<button nz-button nzType="primary" (click)="save()">保存</button>
	<button nz-button (click)="next()">下一步</button>
</div>