<table class="customTable">
	<thead>
		<tr>
			<th rowspan="2" width="150px">项目名称</th>
			<th rowspan="2" width="200px">具体分析内容</th>
			<th rowspan="2">是/否(人)</th>
			<th rowspan="2">目前存在的问题</th>
			<th rowspan="2">是否需要整改</th>
			<th colspan="2">整改期限</th>
			<th rowspan="2">其他说明</th>
			<th rowspan="2" width="80px">操作</th>
			<th rowspan="2" width="17px"></th>
		</tr>
		<tr>
			<th>完成日期</th>
			<th>短期/中期/长期</th>
		</tr>
	</thead>
</table>
<div class="scrollHeight">
	<table class="customTable">
		<colgroup>
	  		<col width="150px"/>
	  		<col width="200px"/>
				<col/>
				<col/>
				<col/>
				<col/>
	  		<col/>
				<col/>
				<col width="80px"/>
	  	</colgroup>
	    <tbody>
				<tr>
					<td rowspan="3">（一）环境风险管理制度</td>
					<td>1.环境风险防控和应急措施制度是否建立；</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>
						<img src="/assets/img/addn.png" class="operImg"/>
						<img src="/assets/img/del.png" class="operImg"/>
					</td>
				</tr>
				<tr>
					<td>2.环境风险防控重点岗位的责任人是否明确；</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>
						<img src="/assets/img/addn.png" class="operImg"/>
						<img src="/assets/img/del.png" class="operImg"/>
					</td>
				</tr>
				<tr>
					<td>3.环境风险防控责任机构是否明确；</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>
						<img src="/assets/img/add.png" class="operImg"/>
						<img src="/assets/img/del.png" class="operImg"/>
					</td>
				</tr>
		</tbody>
	</table>
</div>
<div class="nextStep">
	<button nz-button nzType="primary">保存</button>
	<button nz-button>下一步</button>
</div>