<table class="customTable">
	<thead>
		<tr>
			<th>评估指南</th>
			<th>评估依据</th>
			<th>参考分值</th>
			<th>是/否</th>
			<th>实际分值</th>
			<th width="17px"></th>
		</tr>
	</thead>
</table>
<div class="scrollHeight">
	<table class="customTable">
		<colgroup>
			<col />
			<col />
			<col />
			<col />
			<col />
		</colgroup>
		<tbody>
			<tr>
				<td rowspan="10">
					事故废水收集措施
				</td>
			</tr>
			<tr>
				<td>
					（1）按相关设计规范设置应急事故水池；
				</td>
				<td colspan="" rowspan="8"></td>
				<td></td>
				<td rowspan="10"></td>
			</tr>
			<tr>
				<td>
					<div>
						按相关设计规范设置事故存液池；
					</div>
				</td>
				<td></td>
			</tr>
			<tr>
				<td>或按相关设计规范设置清净废水排放缓冲池；</td>
				<td></td>
			</tr>
			<tr>
				<td>
					并根据相关设计规范、下游环境风险受体敏感程度和易发生极端天气情况，设计事故排水收集设施的容量；且
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					（2）确保事故排水收集设施在事故状态下能顺利收集泄漏物和消防水；
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					日常保持足够的事故排水缓冲容量；且
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					（3）通过协议单位能将所收集废水送至厂区内污水处理设施处理
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					或通过自建管线，能将所收集废水送至厂区内污水处理设施处理
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					有任意一个环境风险单元（包括可能发生液体泄漏或产生液体泄漏物的危险废物贮存场所）的事故排水收集措施不符合上述任意一条要求的
				</td>
				<td colspan="" rowspan="1">
				</td>
				<td>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="nextStep">
	<button nz-button nzType="primary">保存</button>
	<button nz-button>下一步</button>
</div>
