<table class="customTable">
	<thead>
		<tr>
			<th>评估依据</th>
			<th>是/否</th>
			<th>套数</th>
			<th>风险单元名称</th>
			<th>分值</th>
			<th width="17px"></th>
		</tr>
	</thead>
</table>
<div class="scrollHeight">
	<table class="customTable">
		<colgroup>
	  		<col/>
	  		<col/>
				<col/>
				<col/>
				<col/>
	  	</colgroup>
	    <tbody>
				<tr *ngFor="let item of tableData.craftsDetails;index as i">
					<ng-container *ngIf="item.import==null || item.import!='1'">
						<td>{{item.evaluationBasis}}</td>
						<td>
							<ng-container *ngIf="item.isHave==1">是</ng-container>
							<ng-container *ngIf="item.isHave==0">否</ng-container>
							<!-- <nz-radio-group>
								<label nz-radio nzValue="1">是</label>
								<label nz-radio nzValue="0">否</label>
							</nz-radio-group> -->
						</td>
						<td>
							{{item.setsNumber}}
							<!-- <input nz-input placeholder="请输入套数"> -->
						</td>
						<td>
							<nz-select nzMode="multiple" [(ngModel)]="item.unitNameArray" style="width:100%;" nzPlaceHolder="请选择">
								<nz-option [nzValue]="unitName.riskUnitName" [nzLabel]="unitName.riskUnitName" *ngFor="let unitName of unitNameList"></nz-option>
							</nz-select>
							<!-- <input nz-input placeholder="请输入风险单元名称"> -->
						</td>
						<td>{{item.basicScore}}/套</td>
					</ng-container>
					<ng-container *ngIf="item.import!=null && item.import=='1'">
						<td>{{item.evaluationBasis}}</td>
						<td>
							<ng-container *ngIf="item.isHave==1">是</ng-container>
							<ng-container *ngIf="item.isHave==0">否</ng-container>
						</td>
						<td>
							{{item.setsNumber}}
						</td>
						<td>
							{{item.unitName}}
						</td>
						<td>{{item.basicScore}}/套</td>
					</ng-container>
				</tr>
				<tr>
					<td colspan="4">
						小计得分
						<button nz-button nzType="primary" (click)="scoreCalculate()">计算</button>
					</td>
					<td>{{tableData.score}}</td>
				</tr>
		</tbody>
	</table>
</div>
<div class="nextStep">
	<button nz-button nzType="primary" (click)="save()">保存</button>
	<button nz-button (click)="next()">下一步</button>
</div>