<table class="customTable">
	<thead>
		<tr>
			<th>评估依据</th>
			<th>是/否</th>
			<th>套数</th>
			<th>风险单元名称</th>
			<th>分值</th>
			<th width="17px"></th>
		</tr>
	</thead>
</table>
<div class="scrollHeight">
	<table class="customTable">
		<colgroup>
	  		<col/>
	  		<col/>
				<col/>
				<col/>
				<col/>
	  	</colgroup>
	    <tbody>
				<tr>
					<td>涉及氯化工艺</td>
					<td>
						<nz-radio-group>
							<label nz-radio nzValue="1">是</label>
							<label nz-radio nzValue="0">否</label>
						</nz-radio-group>
					</td>
					<td>
						<input nz-input placeholder="请输入套数">
					</td>
					<td>
						<input nz-input placeholder="请输入风险单元名称">
					</td>
					<td>10/套</td>
				</tr>
				<tr>
					<td>涉及硝化工艺</td>
					<td>
						<nz-radio-group>
							<label nz-radio nzValue="1">是</label>
							<label nz-radio nzValue="0">否</label>
						</nz-radio-group>
					</td>
					<td>
						<input nz-input placeholder="请输入套数">
					</td>
					<td>
						<input nz-input placeholder="请输入风险单元名称">
					</td>
					<td>10/套</td>
				</tr>
				<tr>
					<td>涉及氟化工艺</td>
					<td>
						<nz-radio-group>
							<label nz-radio nzValue="1">是</label>
							<label nz-radio nzValue="0">否</label>
						</nz-radio-group>
					</td>
					<td>
						<input nz-input placeholder="请输入套数">
					</td>
					<td>
						<input nz-input placeholder="请输入风险单元名称">
					</td>
					<td>10/套</td>
				</tr>
		</tbody>
	</table>
</div>
<div class="nextStep">
	<button nz-button nzType="primary">保存</button>
	<button nz-button>下一步</button>
</div>