<table class="customTable">
	<thead>
		<tr>
			<th width="150px">主要环节</th>
			<th>防线预防措施内容</th>
			<th width="80px">操作</th>
			<th width="17px"></th>
		</tr>
	</thead>
</table>
<div class="scrollHeight">
	<table class="customTable">
		<colgroup>
	  		<col width="150px"/>
	  		<col/>
	  		<col width="80px"/>
	  	</colgroup>
	    <tbody>
				<tr>
					<td>安全生产环节</td>
					<td>
						<textarea nz-input rows="5" placeholder="具体说明"></textarea>
					</td>
					<td>
						<img src="/assets/img/addn.png" class="operImg"/>
						<img src="/assets/img/deln.png" class="operImg"/>
					</td>
				</tr>
				<tr>
					<td>储存环节</td>
					<td>
						<textarea nz-input rows="5" placeholder="具体说明"></textarea>
					</td>
					<td>
						<img src="/assets/img/addn.png" class="operImg"/>
						<img src="/assets/img/deln.png" class="operImg"/>
					</td>
				</tr>
				<tr>
					<td>运输环节</td>
					<td>
						<textarea nz-input rows="5" placeholder="具体说明"></textarea>
					</td>
					<td>
						<img src="/assets/img/addn.png" class="operImg"/>
						<img src="/assets/img/deln.png" class="operImg"/>
					</td>
				</tr>
				<tr>
					<td>管理及操作环节</td>
					<td>
						<textarea nz-input rows="5" placeholder="具体说明"></textarea>
					</td>
					<td>
						<img src="/assets/img/addn.png" class="operImg"/>
						<img src="/assets/img/deln.png" class="operImg"/>
					</td>
				</tr>
				<tr>
					<td>职业卫生环节</td>
					<td>
						<textarea nz-input rows="5" placeholder="具体说明"></textarea>
					</td>
					<td>
						<img src="/assets/img/add.png" class="operImg"/>
						<img src="/assets/img/deln.png" class="operImg"/>
					</td>
				</tr>
		</tbody>
	</table>
</div>
<div class="nextStep">
	<button nz-button nzType="primary">保存</button>
	<button nz-button>下一步</button>
</div>