<table class="customTable">
	<thead>
		<tr>
			<th>环境风险源</th>
			<th>监控措施</th>
			<th>物资配备</th>
			<th>监控人员</th>
			<th width="80px">操作</th>
			<th width="17px"></th>
		</tr>
	</thead>
</table>
<div class="scrollHeight">
	<table class="customTable">
		<colgroup>
	  		<col/>
	  		<col/>
	  		<col/>
	  		<col/>
	  		<col width="80px"/>
	  	</colgroup>
	    <tbody>
				<tr>
					<td>
						<input nz-input placeholder="请输入环境风险源">
					</td>
					<td>
						<textarea nz-input rows="5" placeholder="请输入监控措施"></textarea>
					</td>
					<td>
						<textarea nz-input rows="5" placeholder="请输入物资配备"></textarea>
					</td>
					<td>
						<input nz-input placeholder="请输入监控人员">
					</td>
					<td>
						<img src="/assets/img/add.png" class="operImg"/>
						<img src="/assets/img/del.png" class="operImg"/>
					</td>
				</tr>
		</tbody>
	</table>
</div>
<div class="nextStep">
	<button nz-button nzType="primary">保存</button>
	<button nz-button>下一步</button>
</div>